:root {
  --color-blue-hue-1: #4681f4;
  --color-blue-hue-1: #5783db;
  --color-blue-hue-1: #55c2da;
  --color-green-hue-1: #5dbea3;
  --color-green-hue-2: #33b249;
  --color-green-hue-3: #5adbb5;
  --color-purble-hue-1: #a881af;
  --color-purble-hue-1: #80669d; }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: 'Open Sans';
  background-color: #f3f1f1; }

.section__header {
  margin-top: 2rem;
  height: 20rem;
  color: #777;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background-color: transparent;
  position: relative;
  overflow: hidden; }
  .section__header--projects::before {
    content: "projects";
    color: lightgray;
    font-size: 20rem;
    margin: 1rem 0;
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem auto;
    z-index: -10;
    filter: brightness(107%); }
  .section__header--challenges::before {
    content: "challenges";
    color: lightgray;
    font-size: 20rem;
    margin: 1rem 0;
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem auto;
    z-index: -10;
    filter: brightness(107%); }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  width: 75%;
  margin: 1rem auto;
  margin-bottom: 6rem;
  margin-top: -10rem;
  background-color: transparent; }

.item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem; }
  .item__image img {
    width: 100%;
    border-radius: .5rem;
    filter: brightness(75%);
    transition: all .3s; }
    .item__image img:hover {
      filter: brightness(97%); }
  .item__header {
    font-size: 2rem;
    padding: 0 1rem;
    color: #777;
    text-transform: uppercase; }
  .item__content {
    color: #808080;
    padding: 0 1rem; }
  .item__buttons {
    display: flex;
    margin-top: auto; }
  .item__link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    margin: .5rem; }
    .item__link:hover {
      filter: brightness(90%);
      color: #fff; }
    .item__link--preview {
      background-color: var(--color-blue-hue-1);
      width: 100%; }
    .item__link--source {
      background-color: var(--color-green-hue-1);
      width: 100%; }
