:root {
  --color-blue-hue-1:#4681f4;
  --color-blue-hue-1:#5783db;
  --color-blue-hue-1:#55c2da;
  --color-green-hue-1:#5dbea3;
  --color-green-hue-2:#33b249;
  --color-green-hue-3:#5adbb5;
  --color-purble-hue-1:#a881af;
  --color-purble-hue-1:#80669d; }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: 'Open Sans'; }

.section__header {
  margin: 4rem 4rem;
  color: #777;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  position: relative; }
  .section__header::before {
    content: "projects";
    color: lightgray;
    font-size: 30rem;
    margin: 1rem 0;
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;
    margin: 1rem auto; }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  width: 75%;
  margin: 5rem auto;
  margin-top: 10rem; }

.item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem; }
  .item__buttons {
    display: flex;
    margin-top: auto; }
  .item__link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    margin: .5rem; }
    .item__link--preview {
      background-color: var(--color-blue-hue-1);
      width: 100%; }
    .item__link--source {
      background-color: var(--color-green-hue-1);
      width: 100%; }
