.section {

    &__header {
        margin-top: 2rem;
        height: 20rem;
        color: #777;
        font-size: 4rem;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        // overflow: hidden;
        background-color: transparent;

        position: relative;
        overflow: hidden;

        &--projects {
            &::before {

                content: "projects";
                color: lightgray;
                font-size: 20rem;
                margin: 1rem 0;
                position: absolute;
                top: -8rem;
                left: 50%;
                transform: translateX(-50%);
                margin: 1rem auto;
                z-index: -10;
                filter: brightness(107%);
            }
        }



        &--challenges {
            &::before {

                content: "challenges";
                color: lightgray;
                font-size: 20rem;
                margin: 1rem 0;
                position: absolute;
                top: -8rem;
                left: 50%;
                transform: translateX(-50%);
                margin: 1rem auto;
                z-index: -10;
                filter: brightness(107%);
            }
        }




    }






}