.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    width: 75%;
    margin: 1rem auto;
    margin-bottom: 6rem;
    // overflow: hidden;
    margin-top: -10rem;
    background-color: transparent;



}


.item {
    background-color: #fff;
    padding: 1rem;
    // background-color: #777;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;



    &__image {

        img {
            width: 100%;
            border-radius: .5rem;
            filter: brightness(75%);
            transition: all .3s;

            &:hover {
                filter: brightness(97%);
            }
        }
    }

    &__header {
        font-size: 2rem;
        padding: 0 1rem;
        color: #777;
        text-transform: uppercase;

    }

    &__content {
        color: #808080;
        padding: 0 1rem;
    }

    &__buttons {
        display: flex;
        margin-top: auto;




    }

    &__link {


        text-decoration: none;
        display: inline-block;
        padding: 1rem;
        color: white;
        border-radius: 1rem;
        width: 100%;

        text-align: center;
        margin: .5rem;

        &:hover {
            filter: brightness(90%);
            color: #fff;
        }

        &--preview {
            background-color: var(--color-blue-hue-1);
            width: 100%;


        }

        &--source {
            background-color: var(--color-green-hue-1);
            width: 100%;
        }
    }


}