.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    width: 75%;
    margin: 5rem auto;


}


.item {
    padding: 2rem;
    // background-color: #777;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
 display: grid;
 grid-template-columns:1fr ;
 grid-gap:3rem;

    &__buttons {
        display: flex;
        margin-top: auto;

    }

    &__link {


        text-decoration: none;
        display: inline-block;
        padding: 1rem;
        color: white;
        border-radius: 1rem;
        width: 100%;

        text-align: center;
        margin: .5rem;

        &--preview {
            background-color: var(--color-blue-hue-1);


            width: 100%;
        }

        &--source {
            background-color: var(--color-green-hue-1);
            width: 100%;
        }
    }
}